# CMSC320 Fall 2022 Final Project- Riya Kukadia and Amartya Patel

In [1]:
# Topic: Analysing UFO Sightings Around the World.

# Contributors: Riya Kukadia (117260557) and Amartya Patel (117183986)

# Introduction

In [2]:
# First and foremost, we simply import necessary libraries and tools, that we might/will need for the completeion of this
# project.

import pandas as pd
import numpy as np
import scipy
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import geopandas
import sys
import io

# Step 1: Data Collection/Curation

We have obtained this dataset from https://www.kaggle.com/, and have provided the relevant link down below. 

Link: https://www.kaggle.com/datasets/econdata/climate-change


Explaining our Data:

In [6]:
df = pd.read_csv('climate_change.csv', low_memory=False)

df.head()

,Year,Month,MEI,CO2,CH4,N2O,CFC-11,CFC-12,TSI,Aerosols,Temp
0,1983,5,2.556,345.96,1638.59,303.677,191.324,350.113,1366.1024,0.0863,0.109
1,1983,6,2.167,345.52,1633.71,303.746,192.057,351.848,1366.1208,0.0794,0.118
2,1983,7,1.741,344.15,1633.22,303.795,192.818,353.725,1366.2850,0.0731,0.137
3,1983,8,1.130,342.25,1631.35,303.839,193.602,355.633,1366.4202,0.0673,0.176
4,1983,9,0.428,340.17,1648.40,303.901,194.392,357.465,1366.2335,0.0619,0.149

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 308 entries, 0 to 307
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Year      308 non-null    int64
 1   Month     308 non-null    int64
 2   MEI       308 non-null    float64
 3   CO2       308 non-null    float64
 4   CH4       308 non-null    float64
 5   N2O       308 non-null    float64
 6   CFC-11    308 non-null    float64
 7   CFC-12    308 non-null    float64
 8   TSI       308 non-null    float64
 9   Aerosols  308 non-null    float64
 10  Temp      308 non-null    float64
dtypes: float64(9), int64(2)
memory usage: 26.6 KB

In [8]:
df.shape

(308, 11)

In [9]:
# looks like there are no null values

Brief Column Explanations:

1) Year: the observation year.

2) Month: the observation month.

3) Temp: the difference in degrees Celsius between the average global temperature in that period and a reference value.

4) CO2, N2O and CH4 are expressed in ppmv

5) CFC.11 and CFC.12 are expressed in ppbv (parts per billion by volume). 

6) Aerosols: the mean stratospheric aerosol optical depth at 550 nm.

7) TSI: the total solar irradiance (TSI) in W/m2 (the rate at which the sun's energy is deposited per unit area).

8) MEI: multivariate El Nino Southern Oscillation index (MEI)

In [10]:
df

,Year,Month,MEI,CO2,CH4,N2O,CFC-11,CFC-12,TSI,Aerosols,Temp
0,1983,5,2.556,345.96,1638.59,303.677,191.324,350.113,1366.1024,0.0863,0.109
1,1983,6,2.167,345.52,1633.71,303.746,192.057,351.848,1366.1208,0.0794,0.118
2,1983,7,1.741,344.15,1633.22,303.795,192.818,353.725,1366.2850,0.0731,0.137
3,1983,8,1.130,342.25,1631.35,303.839,193.602,355.633,1366.4202,0.0673,0.176
4,1983,9,0.428,340.17,1648.40,303.901,194.392,357.465,1366.2335,0.0619,0.149
...,...,...,...,...,...,...,...,...,...,...,...
303,2008,8,-0.266,384.15,1779.88,321.405,244.200,535.072,1365.6570,0.0036,0.407
304,2008,9,-0.643,383.09,1795.08,321.529,244.083,535.048,1365.6647,0.0043,0.378
305,2008,10,-0.780,382.99,1814.18,321.796,244.080,534.927,1365.6759,0.0046,0.440
306,2008,11,-0.621,384.13,1812.37,322.013,244.225,534.906,1365.7065,0.0048,0.394
307,2008,12,-0.666,385.56,1812.88,322.182,244.204,535.005,1365.6926,0.0046,0.330